<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Игра в слова</title>
</head>
<body style="text-align: center; font-size: 45px;">
    <h1>{{ LONG_WORD }}</h1>
    <p>Твои слова:<i>
    {% for i in my_words %}
        {% if i in result_search_words %}
            {{ i }}
        {% else %}
            <b>{{ i }}</b>
        {% endif %}
    {% endfor %}
     </i></p>
    <p>Слова компьютера: <i>
        {% for i in result_search_words %}
            {% if i in my_words %}
                {{ i }}
            {% else %}
                <b>{{ i }}</b>
            {% endif %}
        {% endfor %}
    </i></p>
    <p>{{ result_check }}</p>
    <p>
        <a href="{% url 'main' %}">Играть еще</a>
    </p>
</body>
</html>
