<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Игра в слова</title>
</head>
<body>
    <h1>{{ LONG_WORD }}</h1>
    <form action="" method="post">{% csrf_token %}
        <button type="submit" name="add">ДОБАВИТЬ СЛОВО</button>
        <button type="submit" name="cancel">УБРАТЬ СЛОВО</button>
        <button type="submit" name="count">ПОСЧИТАТЬ СЛОВА</button>
        <button type="submit" name="check">ЗАКОНЧИТЬ ИГРУ</button>
        <p><input type="text" name="word" autocomplete="off" autofocus></p>
    </form>
        <p>
            {% if word_repetition %}
                <span style="color: red; font-size: 25px">{{ word_repetition }}</span>
            {% endif %}
            {% if no_passed %}
                <span style="color: red; font-size: 25px">{{ no_passed }}</span>
            {% endif %}
            {% if text_count %}
                <span style="color: blue; font-size: 35px">{{ text_count }}</span>
            {% endif %}
        </p>
        {% if my_word %}
            {% for word in my_word %}
                {% if word == my_word.0 and word == last_elem_in_my_words %}
                    {{ word | title }}
                {% elif word == my_word.0 and word != last_elem_in_my_words %}
                    {{ word | title }},
                {% elif word == last_elem_in_my_words %}
                    {{ word }}
                {% else %}
                    {{ word }},
                {% endif %}
            {% endfor %}
        {% endif %}

</body>
</html>
