<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Игра в слова</title>
</head>
<body>
    <p>ВВЕДИТЕ СЛОВО</p>
    <form action="" method="post" >{% csrf_token %}
        <input type="text" name="long_word" autocomplete="off" autofocus>
        <p><button style="width: 150px; height: 50px; font-size: 30px;" type="submit">ИГРАТЬ</button></p>
    </form>
    <a href="{% url 'records' %}">Посмотреть рекорды</a>
</body>
</html>
