<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игра в слова</title>
</head>
<body style="text-align: center; font-size: 45px;">
    <p>ВВЕДИТЕ СЛОВО</p>
    <form action="" method="post" >{% csrf_token %}
        <input type="text" name="long_word" autocomplete="off" autofocus>
        <button type="submit">ИГРАТЬ</button>
    </form>
</body>
</html>
