<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>История игр</title>
</head>
<body>
<table>
    <tr>
        <td width="350">Слово</td>
        <td width="650">Количество слов игрока
            <form style="display: inline;" action="" method="post">{% csrf_token %}
                <button style="width: 30px; height:35px; border: none; background-color: WhiteSmoke;" type="submit">&#11014;</button>
            </form></td>
        <td width="700">Количество слов компьютера</td>
        <td width="150"></td>
    </tr>
    {% for i in saved_games %}
      <tr>
          <td>{{ i.long_word }}</td>
          <td>{{ i.player_points }}</td>
          <td>{{ i.comp_points }}</td>
          <td><a href="{% url 'delete_game' pk=i.pk %}">Удалить</a></td>
      </tr>
    {% endfor %}
</table>

<p><a href="{% url 'main' %}">Назад</a></p>
</body>
</html>
