<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Игра в слова</title>
</head>
<body>
    {% for i in saved_games %}
    <p>"{{ i.long_word }}" &nbsp&nbsp&nbsp Количество ваших слов: {{ i.player_points }},
        компьютера: {{ i.comp_points }} <a href="{% url 'delete_game' pk=i.pk %}">Удалить</a></p>
    {% endfor %}
    <p><a href="{% url 'main' %}">Назад</a></p>
</body>
</html>
